.cards-list {
  > .title {
    font-size: 1.25em;
    font-weight: bold;
  }

  > .legend {
    /* font-size: 1.1em; */
  }

  > .grid {
    align-items: stretch;
    display: grid;
    grid-gap: 1.31em;
    grid-template-columns: repeat(auto-fill, 195px);
    justify-content: flex-start;
    margin-top: 1.5em;

    &.squared {
      /* font-size: 1.1em; */
    }
  }
}
