.form-section {
  > .legend {
    color: var(--light-grey);
    display: block;
    font-size: 0.875rem;

    &:not(:empty) {
      margin-bottom: 0.875rem;
    }
  }

  > .input-atom,
  > .checkbox,
  > .select {
    margin-bottom: 1rem;
    width: auto;
  }
}
