.form-section {
  > .top {
    display: flex;

    > .legend {
      color: var(--light-grey);
      display: block;
      font-size: 0.875em;

      &:not(:empty) {
        margin-bottom: 0.875em;
      }
    }

    > .button-container {
      margin-left: auto;

      > .link {
        color: var(--royal-blue);
      }
    }
  }

  > .input-atom,
  > .checkbox {
    width: auto;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
