.images-list {
  display: flex;
  flex-flow: row wrap;

  > .img-wrap {
    align-items: center;
    display: inherit;
    flex: 1;
    justify-content: center;
    max-width: 15.125em;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
