.accordion {
  > .header {
      align-items: center;
      display: flex;
      justify-content: space-between;
  }

  > .content {
    .panel {
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      max-height: 0;
    }
  }
}
