button {
  &.main,
  &.secondary,
  &.discrete {
    font-weight: 700;
  }

  &.main,
  &.link {
    text-transform: none;
  }

  & + button {
    margin-left: 26px;
  }
}

table {
  thead {
    text-transform: uppercase;
  }

  tbody {
    font-weight: 700;

    .checkbox {
      font-size: 1rem;
    }
  }
}
