button {
  &.main,
  &.secondary,
  &.discrete {
    font-weight: 700;
  }

  &.main,
  &.link {
    text-transform: none;
  }

  & + button {
    margin-left: 26px;
  }
}

table {
  thead {
    text-transform: uppercase;

    th {
      font-weight: normal;
    }
  }

  tbody {
    .checkbox {
      font-size: 1em;
    }
  }
}
