button {
  &.main,
  &.secondary,
  &.discrete {
    font-weight: 900;
  }

  &.main,
  &.link {
    text-transform: none;
  }

  & + button {
    margin-left: 26px;
  }
}

table {
  thead {
    text-transform: none;
  }

  tbody {
    font-weight: 900;
  }
}
