.section {
  .header {
    align-items: center;
    display: flex;
    width: 100%;

    h3 {
      margin: 0 1.5rem 0 0;
    }
  }

  > * {
    padding: 0 2.6875rem;
  }

  .cards-panel {
    align-items: stretch;
    display: grid;
    grid-gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding-top: 1.3125rem;

    > .card {
      margin-bottom: 0;
    }
  }
}
